body{
    font-family: "Dela Gothic One";
    padding: 0;
    margin: 0;
    
}
.container{
    display: flex;
    flex-direction: column; 
    height: 100vh;
    width: 100%;
    align-items: center;
    flex: 1;
    background-color: rgb(0, 0, 0);
    color: white;
    
    
}
header{
    background-color: #d9d9d91f;
    width: 100%;
    
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}
header ul li{
    margin-left: 70px;
}
main{
    flex: 1;
}
